.circle-button
{
    height: 48px;
    width: 48px;
    background-color: #262E38;
    border-radius: 48px;
    /* margin-bottom: 32px; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.points {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.circle-button-mid
{
    height: 51px;
    width: 51px;
    background-color: #262E38;
    border-radius: 51px;
    margin-bottom: 32px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.circle-button-mid:hover {
    background-color: #7C8798;
}

.circle-button-mid.selected {
    background-color: #FC7614;
}

.submit-section {
    width: 100%;
}

.submit-button {
    height: 45px;
    border-radius: 22.5px;
    background-color: #FC7614;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.submit-button:hover {
    color: #FC7614;
    background-color: white;
}

.submit-button > p {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}